{{#section 'headCSS'}}
    <link rel="stylesheet" href="../../css/postfull.css">
{{/section}}

<div class="container-fluid" id="content">
    <div class="row no-gutters">

        <!-- Blog Entry Column -->
        <div class="col-8" id="postsFull">

            <!-- Details Top -->
            <div class="details-top">
                    <!-- Title -->
                    <h1 class="mt-4" id="post-title">
                        {{post.pfTitle}}
                    </h1>
                
                    <!-- Author -->
                    <p class="lead" id="user-name">Posted by
                        <a href="/viewUser/{{poster._id}}" id="username">
                            <span class="un">{{poster.username}}</span>
                        </a>
                    </p>

                    <hr>

                    <!-- Date and Ratings -->
                    <div id="details">
                        <p id="date-rate">
                            <span class="date">
                                <i class="far fa-clock"></i>&nbsp;&nbsp;{{'formatDate': post.pfDate}}
                            </span>
                            <span class="ratings">
                                <i class="fas fa-star"></i>&nbsp;
                                <i class="fas fa-star"></i>&nbsp;
                                <i class="fas fa-star"></i>&nbsp;
                                <i class="fas fa-star"></i>&nbsp;
                                <span class="ratings-nope">
                                    <i class="fas fa-star"></i>
                                </span>
                            </span>
                        </p>
                    </div>

                    <hr>
            </div>

            <div id="images">
                <div class="row no-gutters">
                        {{#each pfImages}}
                        <div class="col">
                            <img src="{{this}}" width="120"/>
                        </div>
                    {{/each}}
                </div>
            </div>
    
            <div class="content-entry">
                <!-- Post Content -->
                <p id="description">
                    {{post.pfDescription}}
                </p>
                <h4>Ingredients</h4>
                <p>
                    <ul>
                    {{#each post.pfIngredients}}
                    <li>{{this.quantity}} {{this.unit}} {{this.name}}</li>
                    {{/each}}
                    </ul>
                </p>
                <h4>Directions</h4>
                <p>
                    <ol>
                    {{#each post.pfDirections}}
                    <li>{{this}}</li>
                    {{/each}}
                    </ol>
                </p>
                
                <div class="tags">
                    <span class="tag-name">Tags</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    {{#each post.pfTags}}
                    <span class="post-tags">#{{this}}</span>&nbsp;&nbsp;
                    {{/each}}
                </div>
            </div>

            <div class="details-bottom">
                <hr>

                <!-- Comments and Action -->
                <div id="comment-action">
                    <p id="comment-action-details">

                        <!-- Comment Number -->
                        <span class="comment-number">
                            <i class="far fa-comment-alt"></i>&nbsp;&nbsp;12 comments&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>

                        <!-- Available Actions Left -->
                        <span class="action-l">

                            <!-- Rate Post -->
                            <span class="rate">
                                <a href="profile_" id="rate-post" data-toggle="modal" data-target="#rating-modal">
                                    <i class="far fa-star"></i>&nbsp;Rate
                                </a>
                            </span>
                        </span>
                        
                        <!-- Available Actions Right -->
                        <span class="action-r">

                            <!-- Edit Post -->
                            <span class="edit">
                                <a href="/" id="edit-post">
                                    <i class="far fa-edit"></i>&nbsp;Edit
                                </a>
                            </span>

                            <!-- Delete Post -->
                            <span class="delete">
                                <a href="/" id="delete-post">
                                    <i class="far fa-trash-alt"></i>&nbsp;Delete
                                </a>
                            </span>

                            <!-- Share Post -->
                            <span class="share">
                                <a href="/" id="share-post">
                                    <i class="far fa-share-square"></i>&nbsp;Share
                                </a>
                            </span>
                        </span>
                    </p>
                </div>

                <hr>

                <!-- Comment Area -->
                <div class="comments">

                    <!-- Comments Form -->
                    <div class="card my-4" id="comment-form">
                        <div class="card-body">
                            <form class="submit-comment">
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="Leave a comment and join the cooking!"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>

                    <!-- Start of Comment -->
                    <div id="comments-section">

                        <!-- Single Comment 1 -->
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle pfp" src="http://placehold.it/50x50">
                            <div class="media-body">
                                <p class="mt-0 comment-un">
                                    <a href="p/">felixcityscapes</a>
                                    <span class="date-posted">
                                        &nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Posted 03/02/20 23:59
                                    </span>
                                </p>
                                <div class="comment-details">
                                    good recipe!
                                </div>

                                <!-- Comment Actions -->
                                {{!-- <div class="comment-actions">

                                    <!-- Edit Post -->
                                    <span class="edit">
                                        <a href="/" id="edit-comment">
                                            <i class="far fa-edit"></i>&nbsp;Edit
                                        </a>
                                    </span>

                                    <!-- Delete Post -->
                                    <span class="delete">
                                        <a href="#" id="delete-comment">
                                            <i class="far fa-trash-alt"></i>&nbsp;Delete
                                        </a>
                                    </span>
                                </div> --}}
                            </div>
                        </div>

                        <!-- Single Comment 2 -->
                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle pfp" src="http://placehold.it/50x50">
                            <div class="media-body">
                                <p class="mt-0 comment-un">
                                    <a href="/">chaneltee</a>
                                    <span class="date-posted">
                                        &nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Posted 03/04/20 12:59
                                    </span>
                                </p>
                                <div class="comment-details">
                                    nice
                                </div>
                                
                            </div>
                        </div>

                        <!-- Single Comment 3    -->
                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle pfp" src="http://placehold.it/50x50">
                            <div class="media-body">
                                <p class="mt-0 comment-un">
                                    <a href="/">dianaicing</a>
                                    <span class="date-posted">
                                        &nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Posted 03/19/20 20:39
                                    </span>
                                </p>
                                <div class="comment-details">
                                    approved
                                </div>

                            </div>
                        </div>

                        <!-- Single Comment 4 -->
                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle pfp" src="http://placehold.it/50x50">
                            <div class="media-body">
                                <p class="mt-0 comment-un">
                                    <a href="/">allieseafowl</a>
                                    <span class="date-posted">
                                        &nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Posted 03/20/20 13:19
                                    </span>
                                </p>
                                <div class="comment-details">
                                    pork chop!
                                </div>

                            </div>
                        </div>

                        <!-- Single Comment 5 -->
                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle pfp" src="http://placehold.it/50x50">
                            <div class="media-body">
                                <p class="mt-0 comment-un">
                                    <a href="/">tigerphillip</a>
                                    <span class="date-posted">
                                        &nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Posted 03/29/20 22:58
                                    </span>
                                </p>
                                <div class="comment-details">
                                    thank you
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div id="page-nav-comments">
                    <!-- Pagination List -->
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link disabled" id="prev" href="#">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" id="next" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Rating Modal-->
<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog">

    <!-- Modal Dialogue Box -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Give this recipe a rating!</h4>
                <button class="close" type="button" data-dismiss="modal">
                    <span class="close-button">×</span>
            </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <!-- Give Star Rating for Post -->
                <div id="post-rating">
                    <fieldset class="rates">

                        <!-- 5 Stars -->
                        <input type="radio" id="5-star" name="rate" value="5" />
                        <label id="5s" for="star5" title="Awesome"></label>

                        <!-- 4 Stars -->
                        <input type="radio" id="4-star" name="rate" value="4" />
                        <label id="4s" for="star4" title="Pretty good"></label>

                        <!-- 3 Stars -->
                        <input type="radio" id="3-star" name="rate" value="3" />
                        <label id="3s" for="star3" title="Good"></label>

                        <!-- 2 Stars -->
                        <input type="radio" id="2-star" name="rate" value="2" />
                        <label id="2s" for="star2" title="Kinda bad"></label>

                        <!-- 1 Stars -->
                        <input type="radio" id="1-star" name="rate" value="1" />
                        <label id="1s" for="star1" title="Bad"></label>
                    </fieldset>
                </div>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button class="btn" id="cancel-star" type="button" data-dismiss="modal">Cancel</button>
                <a href="post-loggedin.html" class="btn" id="rate-star">Rate</a>
            </div>
        </div>
    </div>
</div>